body{ background-color: rgb(23, 23, 112);
    background-image:url(IMAGENES/800w-ix3sXZSPVeg.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    color:aliceblue;
     margin: 0px;
    padding: 0px;


}
h1 { text-align: center;
    font-size: 60px;

}
h2  { text-align: center;
    font-size: 20px;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
}
footer{
  text-align: center;
}
