body{ background-color: rgb(23, 23, 24);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    color:aliceblue;
     margin: 0px;
    padding: 0px;
}

body.claro{background-color: white;
    color: black;

}
body.claro .titulo{
    background-color: rgb(199, 199, 199);
}
body.claro .pie-de-pagina{
    background-color: rgb(199, 199, 199);
    color: black;
}



h1 { text-align: center;
    font-size: 60px;

}
h2  { text-align: center;
    font-size: 20px;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}


.pie-de-pagina {
    background-color:rgb(12, 12, 12);
    color: rgb(169, 170, 76);
    text-align: center;
    padding:20px;
    height: 100%;

}
.titulo {
    background-color: black;
    padding: 20px;
  
}



.SUCRE {
    text-align: center;
   
}
button{
    font-size: 20px;
    border-radius: 15px;
 border: none;
    
}